.Fullpost {
  width: 90%;
  height: 300px;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #c6eeac;
  overflow: auto;
  scroll-behavior: smooth;
  text-align: center;
  display: grid;
  gap: 8px;
}
.myButton {
  margin: auto;
}
