.Fullpost {
  width: 90%;
  height: 300px;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f3ebe6;
  display: grid;
  grid-template-columns: 2rem, 5rem, 2rem;
}
.Title {
}
.Content {
  white-space: wrap;
}
.Button {
  width: 100px;
  height: 40px;
  background-color: rgb(110, 110, 206);
}
