.Post {
  width: 9rem;
  min-width: 8rem;
  height: 11rem;
  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: 5px 3px 3px;
  margin: 1rem auto;
  overflow: auto;
  scroll-behavior: smooth;
  padding: 5px;
  background-color: #c6eeac;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
::-webkit-scrollbar {
  width: 1px;
  border-radius: 10px;
}
